<?xml version="1.0" encoding="UTF-8"?>

<?define bitness = "(64 bit)" ?>
<?define Win64 = "yes" ?>

<?define S_WPF_BUILD_DIR = "..\TestApp\bin\Release" ?>
<?define S_CPP_BUILD_DIR = "..\x64\Release" ?>
<?define S_DATA_DIR = "..\ZalData" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*" Name="Zalizniak's (NEW) Grammatical Dictionary of Russian" Language="1033" Version="4.5.1.32" Manufacturer="Xiao Gogo Software and Baked Goods" UpgradeCode="DD5CB95E-6F3B-4684-8746-33800F1E9D82">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate CabinetTemplate="CF{0}.cab" EmbedCab="yes" />

    <Icon Id="AppIcon.exe" SourceFile="Zal.ico"/>
    <Property Id="ARPPRODUCTICON" Value="AppIcon.exe" />

    <Feature Id="ProductFeature" Title="Zal2" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
<!--      <ComponentGroupRef Id="ProductData" />        -->
      <ComponentRef Id="ApplicationShortcutStartMenu" />
      <ComponentRef Id="ProgramDataFolder_Permission" />
    </Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="Zal2" />
        <Directory Id="ProgramMenuFolder">
          <Directory Id="ZalShortcutsDir" Name="Zal2" />
        </Directory>
        <Directory Id="CommonAppDataFolder">
          <Directory Id="ProgramDataFolder" Name="Zal" />
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="ZalShortcutsDir" >
      <Component Id="ApplicationShortcutStartMenu" Guid="{95A7727B-2A4E-4215-8430-125670314A21}">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Zal2" WorkingDirectory="INSTALLFOLDER" Description="Zalizniak's Grammatical Dictionary" Target="[INSTALLFOLDER]\TestApp.exe" Icon="AppIcon.exe"/>
        <RemoveFolder Id="ZalShortcutsDir" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Gogo\Zal2" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ProgramDataFolder">
      <Component Id="ProgramDataFolder_Permission" Guid="{700F9D16-9A06-46E7-A201-32E10B1675BD}">
        <CreateFolder>
          <util:PermissionEx User="Users" GenericAll="yes"/>
        </CreateFolder>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Guid="*" Id="Zal2_exe">
        <File Id="Zal2_exe" KeyPath="yes" Source="$(var.S_WPF_BUILD_DIR)\TestApp.exe" />
      </Component>
      <Component Guid="*" Id="MainLibManaged_dll">
          <File Id="MainLibManaged_dll" KeyPath="yes" Source="$(var.S_CPP_BUILD_DIR)\ZalMainLibManaged.dll" />
      </Component>  
    </ComponentGroup>

<!--
    <ComponentGroup Id="ProductData" Directory="ProgramDataFolder">
      <Component Guid="*" Id="Zal_data_db3">
        <File Id="Zal_data_db3" KeyPath="yes" Source="$(var.S_DATA_DIR)\ZalData.db3" />
      </Component>
    </ComponentGroup>
-->    
  </Fragment>
</Wix>
